.login-form{
   background-color: #d9e8ff;
   height: 100%;
}
.from-control{
padding: 60px 50px;
border: 1px solid #00293b;
box-shadow:  0 0 3px 1px #00293b;
border-radius: 20px;
font-size: 20px;
}
.from--reg-control{
padding: 40px 50px;
border: 1px solid #00293b;
box-shadow:  0 0 3px 1px #00293b;
border-radius: 20px;
font-size: 20px;
}