.service-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 30px 0px;
}
.price-section p {
  font-size: 20px;
  font-weight: 500;
}
.price-table-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 30px 0px;
}
.price-single {
  padding: 40px 50px;
  border: 1px solid #00293b;
  box-shadow: 1px 0 1px 1px #00293b;
  border-radius: 20px;
  font-size: 20px;
}
